/* Navbar toggle button */
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Top row styling */
.top-row {
    height: 3.5rem;
    background-color: white;
}

/* Navbar brand styling */
.navbar-brand {
    font-size: 1.1rem;
}

/* Icon styling */
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: middle; /* Adjust vertical alignment */
}

/* Nav item styling */
.nav-item {
    font-size: 0.9rem;
    padding: 0.5rem 0; /* Adjust padding */
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    /* Nav link styling */
    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        text-decoration: none; /* Remove underline */
    }

        /* Active nav link styling */
        .nav-item a.active {
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
        }

        /* Hover nav link styling */
        .nav-item a:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }

/* Media query for wide screens */
@media (min-width: 641px) {
    .navbar-toggler {
        display: none; /* Hide toggler for wider screens */
    }

    .collapse {
        display: block; /* Never collapse the sidebar for wide screens */
    }

    .nav-scrollable {
        height: calc(100vh - 3.5rem); /* Allow sidebar to scroll for tall menus */
        overflow-y: auto;
    }
}
