<div class="navbar-container">
    <!-- Översta raden med logotyp och hamburgermeny -->
    <div class="top-row-navbar">
        <div class="image-background">
            <a class="navbar-brand" href="">
                @* <span>Breakout Boards</span> *@
                <span>TrendTact</span>
            </a>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            ☰
        </button>
    </div>


    <!-- Navigationsmenyn -->
    <div class="@NavMenuCssClass nav-scrollable">
        <nav class="flex-column">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Charts
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="Blog">
                    Blog
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="Admin">
                    Admin
                </NavLink>
            </div>
        </nav>
    </div>
</div>


@code {
    // Håller koll på om menyn är kollapsad
    private bool collapseNavMenu = true;

    // Dynamisk CSS-klass för menyvisning
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // Metod för att växla mellan kollapsad och expanderad meny
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
