@page "/"
@using UniWeb.Data.Models;
@using UniWeb.Services;
@inject StockServices stockServices
@inject NavigationManager Navigation

<PageTitle>Watchlist</PageTitle>

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="stock-list">
                @if (allStocks.Any())
                {
                    @foreach (var stock in allStocks)
                    {
                        <div class="stock-card" @onclick="() => ShowStockDetails(stock.Id)">
                            <img src="@($"data:{stock.ImageType};base64,{Convert.ToBase64String(stock.ImageData)}")" alt="Stock Image" class="stock-image" />
                            <div class="stock-details">
                                <h5 class="stock-title">@((stock.Name != null) ? stock.Name : "-")</h5>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No stocks in the database.</p>
                }
            </div>
        </div>
    </div>
</div>


@code {
    private List<Stock> allStocks = new List<Stock>();

    protected override void OnInitialized()
    {
        allStocks = stockServices.GetAllStocks();
    }

    private void ShowStockDetails(int stockId)
    {     
        Navigation.NavigateTo($"/stockdetails/{stockId}");
    }

}

<style>
    .stock-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px; /* Justera efter önskad mellanrum mellan korten */
    }

    .stock-card {
        flex: 0 0 calc(33.33% - 16px); /* Anpassa efter önskad kolumnbredd */
        max-width: calc(33.33% - 16px); /* Anpassa efter önskad kolumnbredd */
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border: 2px groove; /* Ändra tjocklek och färg på kanterna här */
        border-radius: 8px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Lägg till en subtil skugga */
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

        .stock-card:hover {
            transform: scale(1.05); /* Justera önskad förstoringseffekt vid hover */
        }

    .stock-image {
        object-fit: cover;
        height: 200px; /* Anpassa efter önskad höjd för bilder */
        width: 100%;
    }

    .stock-details {
        padding: 16px;
    }

        .stock-details h5 {
            margin-bottom: 8px;
        }
</style>