@page "/stockdetails/{stockId}"
@using UniWeb.Data.Models;
@using UniWeb.Services
@inject StockServices stockServices

<PageTitle> Stock Details </PageTitle>

@if (selectedStock != null)
{
    <h5> $ @selectedStock.Name</h5>
    <p> @selectedStock.Description</p>
    <img src="@($"data:{selectedStock.ImageType};base64,{Convert.ToBase64String(selectedStock.ImageData)}")" 
    alt="Stock Image"
         style="max-height: 1024px; max-width: 1366px;"
    class="img-fluid" />
}


@code {
    [Parameter]
    public string StockId { get; set; }

    private Stock selectedStock;

    protected override void OnInitialized()
    {
        // Hämta information om den valda aktien från din databas eller lagring
        // Använd StockId för att filtrera efter den valda aktien
        // Exempelvis, du kan använda stockServices för att hämta informationen
        selectedStock = stockServices.GetStockById(int.Parse(StockId));
    }
}

