@page "/stockdetails/{stockId}"
@using UniWeb.Data.Models;
@using UniWeb.Services
@inject StockServices stockServices

<PageTitle> Stock Details </PageTitle>

@if (selectedStock != null)
{
    <h5> $ @selectedStock.Name</h5>
    <p> @selectedStock.Description</p>
    <img src="@($"data:{selectedStock.AnalysisImageType};base64,{Convert.ToBase64String(selectedStock.AnalysisImageData)}")"
    alt="Stock Image" 
    class="stock-image" 
    style="max-height:1024; max-width:1360px;" />
}


@code {
    [Parameter]
    public string StockId { get; set; }

    private Stock selectedStock;

    protected override void OnInitialized()
    {
        selectedStock = stockServices.GetStockById(int.Parse(StockId));
    }
}

